.home_img {
  position: relative;
  // background-color: black;
  z-index: -1;
  width: 100%;
  height: auto;
  z-index: -1;
  // object-fit: none;
}

.home_img_mobile {
  position: relative;
  // background-color: black;
  z-index: -1;
  width: 100%;
  height: auto;
  z-index: -1;
  display: none;
  // object-fit: none;
}

@media only screen and (max-width: 720px) {
  .home_img {
    display: none;
  }

  .home_img_mobile {
    display: block;
  }

  .box_container {
    flex-direction: column;
  }
}

.heading {
  text-transform: uppercase;
  color: whitesmoke;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 3vw;
}

.aes {
  font-size: 5vw;
  letter-spacing: 1vw;
  top: 10%;
}

.box_container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 0%;
  right: 0%;
}

.btn_box {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3vw;
  font-weight: bold;
  padding: 2em 3em;
  margin: 5vh 5vh;
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 1rem;
  background-color: rgba(48, 48, 48, 0.925);
  width: 30%;
  text-transform: uppercase;

  &:hover {
    -webkit-filter: brightness(150%);
    box-shadow: 0 4px 8px 0 rgb(101, 163, 255), 0 6px 20px 0 rgba(101, 163, 255);
    background-color: rgba(129, 215, 255, 0.445);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
  }
}

.box_effect {
  // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  // font-weight: bold;
  padding: 2em 3.5em;
  opacity: 0%;
  margin: 0vh 2vh;
  color: rgb(255, 255, 255);
  border: 0ch;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  // position: absolute;
  // z-index: 1;
  // margin: 10vh;
}

.move_right {
  position: absolute;
  top: 8vh;
  // bottom: 100%;
  left: 27vh;
}

.move_left {
  position: absolute;
  top: -8vh;
  // bottom: 100%;
  left: 27vh;
}
