<div class="home_body">
  <img class="home_img" src="../../../assets/aes_wall.jpg">
  <img class="home_img_mobile" src="../../../assets/mobile_aes.jpeg">
  <div class="under_glow"></div>
  <div>
    <h1 style="cursor: pointer;" class="heading aes">Aes</h1>
    <h1 style="cursor: pointer;" class="heading">Encryption & dycription</h1>
    <div class="box_container">
      <a routerLink='/text' class="btn_box">Text</a>
      <a routerLink='/image' class="btn_box">Image</a>
      <a routerLink='/file' class="btn_box">File</a>
    </div>
  </div>
</div>